<h1 class="text-center text-muted">Sign in</h1>
<%= form_with(url: sessions_path, local: true) do |f| %>
  <div class="forms mb-4">
    <div class="row">
      <div class="col-md-6 offset-3">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name , class: 'form-control' %>
        </div>
        <div class="actions mt-3">
          <%= f.submit 'Sign In', class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
