<div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <div class="card-header bg-primary font-weight-bold h3">
      Event Details
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">- <strong>Date:</strong> <%= event.date %></li>
      <li class="list-group-item">- <strong>Location:</strong> <%= event.location %></li>
      <li class="list-group-item">- <strong>Description:</strong> <%= event.description %></li>
    </ul>
  </div>
</div>