<h1 class="text-center text-muted">New Event</h1>
<%= render 'form', event: @event %>
<div class="row">
  <div class="col-md-6 offset-3">
    <%= link_to 'Back', events_path, class: 'btn btn-outline-primary btn-block' %>
  </div>
</div>
